body{
	background: #ee3f54;
}

h1, h2, h3, h4, h5, h6, button{
	font-family: 'Bree Serif', serif;	
}

#social-container{
	background-color: #1c3643;
}

#logo-container .callout{
	background: #ee3f54;
	color: #fff;	
	margin-bottom: 0;
}

#menu-container{
	background-color: #48a19d;
}

#menu-container li a{
	color: #fff;
	font-family: 'Bree Serif', serif;	
}

#submenu-container{
	border: 0;
}

#menu-container li a:hover,
#submenu-container li a:hover{
	color: #f6e15f;
}

#submenu-container li a{
	background-color: #48a19d;
	color: #fff;
}

